<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="testClass.TestCase1"/>
            <class name="testClass.ReadExcelData"/>
            <class name="testClass.ReadProperties"/>
        </classes>
    </test>
</suite>